# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.sqlite3
*.log
media/
staticfiles/
.env

# =========================
# Environments
# =========================
.env
.venv
env/
venv/
ENV/

# =========================
# Flutter
# =========================
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
android/.gradle/
android/app/key.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# =========================
# Node / Tailwind
# =========================
node_modules/
dist/
*.tsbuildinfo
.npm

# =========================
# Docker
# =========================
docker-compose.override.yml
*.pid
tmp/

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/
.vscode/